
body {
    margin: 0;
    background-color: #615e75;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#balloutline {
    height: 50vw;
    width: 50vw;
    background-color: #313036;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#textbox {
  width: 0;
  height: 0;
  border-left: 13vh solid transparent;
  border-right: 13vh solid transparent;
  border-top: 20vh solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#message {
    text-align: center;
    color: #4d09b3;
    position: relative;
    bottom: 14vh;
    font-size: 14px;
    font-family: 'pixelify sans';
}
